<!DOCTYPE html>
<html>
  <head>
    <% if(typeof title !== 'undefined') { %>
      <title><%= title %></title>
    <% } else { %>
      <title>JRH Portfolio</title>
    <% } %>
    <link rel='stylesheet' href='/main/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
  </body>
