@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url(public/main/stylesheets/fonts/montserrat-black-webfont.eot);
  src: url(public/main/stylesheets/fonts/montserrat-black-webfont.eot?#iefix) format("embedded-opentype"), url(public/main/stylesheets/fonts/montserrat-black-webfont.woff2) format("woff2"), url(public/main/stylesheets/fonts/montserrat-black-webfont.woff) format("woff"), url(public/main/stylesheets/fonts/montserrat-black-webfont.ttf) format("truetype"), url(public/main/stylesheets/fonts/montserrat-black-webfont.svg#montserratblack) format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(public/main/stylesheets/fonts/montserrat-bold-webfont.eot);
  src: url(public/main/stylesheets/fonts/montserrat-bold-webfont.eot?#iefix) format("embedded-opentype"), url(public/main/stylesheets/fonts/montserrat-bold-webfont.woff2) format("woff2"), url(public/main/stylesheets/fonts/montserrat-bold-webfont.woff) format("woff"), url(public/main/stylesheets/fonts/montserrat-bold-webfont.ttf) format("truetype"), url(public/main/stylesheets/fonts/montserrat-bold-webfont.svg#montserratbold) format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(public/main/stylesheets/fonts/montserrat-extrabold-webfont.eot);
  src: url(public/main/stylesheets/fonts/montserrat-extrabold-webfont.eot?#iefix) format("embedded-opentype"), url(public/main/stylesheets/fonts/montserrat-extrabold-webfont.woff2) format("woff2"), url(public/main/stylesheets/fonts/montserrat-extrabold-webfont.woff) format("woff"), url(public/main/stylesheets/fonts/montserrat-extrabold-webfont.ttf) format("truetype"), url(public/main/stylesheets/fonts/montserrat-extrabold-webfont.svg#montserratextra_bold) format("svg");
  font-weight: 800;
  font-style: normal; }

/*@font-face
    font-family: 'Montserrat'
    src: url('fonts/montserrat-hairline-webfont.eot')
    src: url('fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/montserrat-hairline-webfont.woff2') format('woff2'), url('fonts/montserrat-hairline-webfont.woff') format('woff'), url('fonts/montserrat-hairline-webfont.ttf') format('truetype'), url('fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg')
    font-weight: 100
    font-style: normal*/
@font-face {
  font-family: 'Montserrat';
  src: url(public/main/stylesheets/fonts/montserrat-light-webfont.eot);
  src: url(public/main/stylesheets/fonts/montserrat-light-webfont.eot?#iefix) format("embedded-opentype"), url(public/main/stylesheets/fonts/montserrat-light-webfont.woff2) format("woff2"), url(public/main/stylesheets/fonts/montserrat-light-webfont.woff) format("woff"), url(public/main/stylesheets/fonts/montserrat-light-webfont.ttf) format("truetype"), url(public/main/stylesheets/fonts/montserrat-light-webfont.svg#montserratlight) format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(public/main/stylesheets/fonts/montserrat-regular-webfont.eot);
  src: url(public/main/stylesheets/fonts/montserrat-regular-webfont.eot?#iefix) format("embedded-opentype"), url(public/main/stylesheets/fonts/montserrat-regular-webfont.woff2) format("woff2"), url(public/main/stylesheets/fonts/montserrat-regular-webfont.woff) format("woff"), url(public/main/stylesheets/fonts/montserrat-regular-webfont.ttf) format("truetype"), url(public/main/stylesheets/fonts/montserrat-regular-webfont.svg#montserratregular) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(public/main/stylesheets/fonts/montserrat-semibold-webfont.eot);
  src: url(public/main/stylesheets/fonts/montserrat-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(public/main/stylesheets/fonts/montserrat-semibold-webfont.woff2) format("woff2"), url(public/main/stylesheets/fonts/montserrat-semibold-webfont.woff) format("woff"), url(public/main/stylesheets/fonts/montserrat-semibold-webfont.ttf) format("truetype"), url(public/main/stylesheets/fonts/montserrat-semibold-webfont.svg#montserratsemi_bold) format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url(public/main/stylesheets/fonts/montserrat-ultralight-webfont.eot);
  src: url(public/main/stylesheets/fonts/montserrat-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(public/main/stylesheets/fonts/montserrat-ultralight-webfont.woff2) format("woff2"), url(public/main/stylesheets/fonts/montserrat-ultralight-webfont.woff) format("woff"), url(public/main/stylesheets/fonts/montserrat-ultralight-webfont.ttf) format("truetype"), url(public/main/stylesheets/fonts/montserrat-ultralight-webfont.svg#montserratultra_light) format("svg");
  font-weight: 100;
  font-style: normal; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2; }
  body.is-home {
    color: #fff;
    background-color: #16A8CC; }

a {
  color: #ccc; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial;
  margin: 0; }

h1 {
  font-size: 320%;
  text-transform: uppercase; }
  h1:first-of-type {
    margin: 0.3em 0; }

label {
  display: block;
  margin: 15px 0; }
  label input, label textarea, label select {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd; }

button, .button {
  font-family: 'Montserrat';
  border-radius: 5px;
  padding: 5px 10px;
  background: #ddd;
  display: inline-block;
  color: #777;
  border: none;
  box-shadow: 0 2px 0 0 #ccc, 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer; }
  button:hover, .button:hover {
    box-shadow: 0 2px 0 0 #CCC, 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    background: #eee; }

button[type='submit'] {
  background: #16A8CC;
  color: #fff;
  box-shadow: 0 2px 0 0 #11829e, 0 3px 5px 0 rgba(0, 0, 0, 0.2); }
  button[type='submit']:hover {
    box-shadow: 0 2px 0 0 #11829e, 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    background: #2dc6e8; }

.row {
  max-width: 64.5em;
  width: 100%;
  margin: 0 auto; }
  .row:before, .row:after {
    content: '';
    display: table; }
  .row:after {
    clear: both;
    width: 100%; }

.row .row {
  max-width: none;
  width: auto;
  margin: 0 -15px; }

[class*="grid-"] {
  float: left;
  padding: 0 15px; }

.grid-1-1 {
  width: 100%; }

.grid-1-2 {
  width: 50%; }

.grid-1-3 {
  width: 33.333333%; }

@media screen and (max-width: 768px) {
  [class*="grid-"] {
    width: 100%;
    float: none; } }

.layout {
  -webkit-perspective: 1000;
  position: relative; }
  .layout__content {
    height: 200px;
    padding: 30px;
    background: #222; }
  .layout__header {
    font-weight: 200;
    text-transform: none; }
  .layout__logo-effect-container {
    -webkit-transform-style: preserve-3d; }
  .layout__logo-container, .layout__logo-menu-container, .layout__logo {
    height: calc(100vh - 200px); }
  .layout__logo {
    transform: translateZ(20px); }
  .layout__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 160px;
    transform: translateY(-50%) translateX(-50%) translateZ(60px);
    z-index: 99999;
    border-radius: 80px;
    background: #16A8CC;
    width: 160px;
    height: 160px;
    box-shadow: 0 0 50px 0 white;
    transition: all 0.3s ease; }
    .layout__menu-button {
      width: 160px;
      height: 160px;
      border-radius: 80px;
      position: relative;
      top: 0;
      left: 0;
      transition: all 0.3s ease;
      margin: 0 auto; }
      .layout__menu-button:before {
        content: '\2261';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        font-size: 80px;
        line-height: 160px; }
    .layout__menu-item-container {
      position: relative;
      visibility: hidden;
      line-height: 60px;
      display: table;
      width: 100%; }
    .layout__menu-item {
      font-family: 'Montserrat';
      color: #16A8CC;
      display: table-cell;
      padding: 0 30px;
      text-align: center; }
  .layout__menu:hover {
    border-radius: 60px;
    height: 60px;
    width: 50%;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    background: #f2f2f2; }
    .layout__menu:hover .layout__menu-button {
      width: 0;
      height: 0;
      visibility: hidden;
      opacity: 0; }
      .layout__menu:hover .layout__menu-button:after {
        display: none; }
    .layout__menu:hover .layout__menu-item-container {
      visibility: visible;
      opacity: 1; }
  .layout__logo-image {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block; }
  .layout__home-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    opacity: 0.6;
    z-index: -1;
    background-image: url("/main/images/IMG_2720.jpg");
    background-size: calc(100% + 50px);
    background-position: 20% 50%; }

@media screen and (max-width: 768px) {
  .layout__content {
    height: auto; }
  .layout__logo-container, .layout__logo-menu-container, .layout__logo {
    height: 50vh; }
  .layout__home-bg {
    background-size: cover; }
  .layout__menu {
    border-radius: 10px;
    background: #fff;
    height: auto; }
    .layout__menu:hover {
      height: auto;
      border-radius: 10px; }
    .layout__menu-button {
      display: none; }
    .layout__menu-item-container {
      height: auto;
      visibility: visible;
      opacity: 1;
      display: block; }
    .layout__menu-item {
      display: block; } }

.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  border-bottom: 1px solid rgba(200, 200, 200, 0.5); }
  .header__nav-item {
    display: inline-block;
    padding: 20px 15px;
    color: #fff; }
  .header__logo-link {
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block; }
  .header__logo {
    max-width: 40px; }

.entry-list {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .entry-list, .entry-list * {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .entry-list__item {
    margin: 0 0 15px 0;
    background: #fff;
    color: #555;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    max-height: 100px; }
    .entry-list__item:after {
      content: '';
      display: table;
      clear: both; }
    .entry-list__item:hover {
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.4); }
  .entry-list__title {
    padding: 5px;
    border-bottom: 1px solid #ddd; }
  .entry-list__image {
    float: left;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
    .entry-list__image-links {
      display: none;
      position: absolute;
      bottom: 0;
      right: 0;
      background: #fff; }
      .entry-list__image-links a {
        padding: 10px 10px; }
  .entry-list__item-content {
    float: left;
    width: calc(100% - 100px); }
    .entry-list__item-content:after {
      display: table;
      clear: both;
      content: ''; }
  .entry-list__body {
    overflow: hidden;
    max-height: 2.9em;
    padding: 5px; }
  .entry-list__more-button {
    background: #16A8CC;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 5px;
    color: #fff;
    float: right;
    box-shadow: 0 2px 0 0 #11829e, 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-right: 15px; }
    .entry-list__more-button:hover {
      box-shadow: 0 2px 0 0 #11829e, 0 5px 15px 0 rgba(0, 0, 0, 0.3);
      background: #2dc6e8; }

.entry-list__item.is-active {
  max-height: 3000%; }
  .entry-list__item.is-active:hover {
    transform: scale(1, 1); }
  .entry-list__item.is-active .entry-list__image {
    width: 100%;
    height: 400px;
    float: none; }
    .entry-list__item.is-active .entry-list__image-links {
      display: block; }
  .entry-list__item.is-active .entry-list__item-content {
    width: 100%;
    float: none; }
  .entry-list__item.is-active .entry-list__body {
    max-height: 3000%; }
  .entry-list__item.is-active .entry-list__more-button {
    margin-bottom: 15px; }

.u-mTop0 {
  margin-left: 0; }

.u-mTop5 {
  margin-left: 5px; }

.u-mTop10 {
  margin-left: 10px; }

.u-mTop15 {
  margin-left: 15px; }

.u-mTop30 {
  margin-left: 30px; }

.u-mBottom0 {
  margin-bottom: 0; }

.u-mBottom5 {
  margin-bottom: 5px; }

.u-mBottom10 {
  margin-bottom: 10px; }

.u-mBottom15 {
  margin-bottom: 15px; }

.u-mBottom30 {
  margin-bottom: 30px; }

.u-mLeft0 {
  margin-left: 0; }

.u-mLeft5 {
  margin-left: 5px; }

.u-mLeft10 {
  margin-left: 10px; }

.u-mLeft15 {
  margin-left: 15px; }

.u-mLeft30 {
  margin-left: 30px; }

.u-mRight0 {
  margin-right: 0; }

.u-mRight5 {
  margin-right: 5px; }

.u-mRight10 {
  margin-right: 10px; }

.u-mRight15 {
  margin-right: 15px; }

.u-mRight30 {
  margin-right: 30px; }

.u-floatRight {
  float: right; }

.u-floatLeft {
  float: left; }

.u-clearfix:before, .u-clearfix:after, .u-cf:before, .u-cf:after {
  display: table;
  content: ''; }

.u-clearfix:after, .u-cf:after {
  width: 100%;
  clear: both; }
