.header
  &__nav
    border-bottom: 1px solid rgba(100,100,100,0.5)
    padding: 15px 0
    &-item
      padding: 15px 15px 15px 0
  &__logo
    margin-right: 15px
    vertical-align: middle
    display: inline-block

.header--home
.header--home .header__nav
.header--home .header__nav-item
