.header
  &__nav
    border-bottom: 1px solid rgba(200,200,200,0.5)
    padding: 15px 0
    &-item
      padding: 15px 15px 15px 0
  &__logo-link
    margin-right: 15px
    vertical-align: middle
    display: inline-block
  &__logo
    max-width: 40px

.header--home
.header--home .header__nav
.header--home .header__nav-item
